* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #bfeaff;
    font-size: 22px;
}


.box {
    background: white;
    height: 200px;
    width: 300px;
    border: 1px solid black;
    margin: 20px auto;
    padding: 20px 50px;
}

.box h1 {
    margin-bottom: 20px;
    text-decoration: underline;
}

.box-recipe {
    border: 2px solid black;
    background: white;
    text-align: justify;
    height: auto;
    width: 800px;
    margin: 15px auto;
    padding: 40px;
}
    
.box-recipe img {
    width: 600px;
    height: auto;
    display: block;
    margin: 18px auto;
}

.box-recipe h1,h2 {
    text-align: center;
    margin: 18px auto;
}

.box-recipe h1{
    margin-top: 0px;
}